@charset "UTF-8";
/* CSS Document */


body, div, section, article, ul, li, aside, h1,h2,h3,p{ margin:0px; padding:0px;}


html{
  height: 100%;
}
body {
	display: -moz-box;
	-moz-box-pack: start;
	-moz-box-orient: vertical;
	-moz-box-align: center;
	
	
  background-image:url(../images/body.png);
  background-size: cover;
  background-repeat:repeat-x;
  
 
  max-width: 1300px;
  width: 100%;
   min-width: 1100px;
  height: 100%;

}
header{	
	display: -moz-box;
	-moz-box-orient: horizontal;
	-moz-box-pack: center;
	background-image:url(../images/header.png);
	width: 1300px;

    min-width: 1000px;
	height: 45px;
	box-shadow: 3px 3px 3px rgba(0,0,0,0.5);
	border-bottom: 1px inset gray;
	
	
}

#leftHeader{

	height: 45px;
	width:30%;
	-moz-box-flex:0;
}

#leftHeader img{
	width: 241px;
	height: 45px;
	
}


#centerHeader{
	display: -moz-box;
	-moz-box-pack: center;
	-moz-box-align: center;
	height: 45px;
	width: 40%;
	
	-moz-box-flex:1;
	min-width: 150px;
}

#centerHeader input{
	
	width: 250px;
	padding: 4px;
	border-radius: 3px;
	
}

#leftCenterHeader{
	
	
}

#rightCenterHeader{
	display: -moz-box;
	-moz-box-pack: center;
	-moz-box-align: center;
	
	
	
}
#rightHeader{
	display: -moz-box;
	-moz-box-orient: horizontal;
	-moz-box-pack: end;
	-moz-box-align: center;
	height: 45px;
	width: 30%;	
	-moz-box-flex:1;
}

#leftRightHeader{
	display: -moz-box;
	-moz-box-orient: horizontal;
	-moz-box-pack: end;
	margin-right: 10px;
}

#divImage{
	position:relative;
	top:3px;
	width: 25px;
	margin-right: 5px;
}
#divImage img{
	
	width: 25px;
}

#centerLogout{
	display: -moz-box;
	-moz-box-pack: center;
	-moz-box-align: center;
	color: #510000;
}

#rightLogout{
	display: -moz-box;
	-moz-box-pack: center;
	-moz-box-align: center;
	color: #510000;
}
#separator{
	display: -moz-box;
	-moz-box-pack: center;
	-moz-box-align: center;
	color: #510000;
	margin-left: 5px;
	margin-right: 5px;
}
#centerLogout:hover{
	color: white;
	cursor: pointer;
}
#rightLogout:hover{
	color: white;
	cursor: pointer;	
}




#subHeader{
	display: -moz-box;
	-moz-box-orient: horizontal;
	-moz-box-pack: center;
	-moz-box-align: center;
	width: 1300px;
	min-width: 1000px;
	height: 40px;
	background-color: #ededed;
	border: 1px solid #ccc;
	box-shadow: 3px 3px 3px rgba(0,0,0,0.5);

	
}

#subHeader ul{
	list-style: none;
	display: -moz-box;
	-moz-box-orient: horizontal;
	-moz-box-pack: center;
	-moz-box-align: center;
	-moz-box-flex:1;
	font-family: 'Gilda Display', serif;
	
	
}


#subHeader ul li{
	
	display: -moz-box;
	-moz-box-pack: center;
	-moz-box-align: center;
	-moz-box-flex: 1;
	cursor: pointer;
	color: #800;
}

#subHeader ul li:hover{
	
	color: #000;
}

#searchIcon{
	
	width: 25px;
	margin-top: 5px;	
}

#leftRightHeader{
	display:-moz-box;
	-moz-box-align: center;
	-moz-box-pack: end;
	-moz-box-flex: 1;
	height: 45px;
	color: #510000;
	
}



#rightRightHeader{
	display:-moz-box;
	-moz-box-align: center;
	-moz-box-pack: center;
	
	-moz-box-flex: 0;
	width: 30px;
	height: 45px;
	
}


#idUSerTool{
	width: 30px;
	height: 30px;
	cursor: pointer;
}


#userText{
	display: -moz-box;
	-moz-box-orient: horizontal;
	width: 150px;
	text-shadow: 0 -1px 0 #510000;
	list-style:none;
}

#userText li{
		display: -moz-box;
	-moz-box-orient: horizontal;
	width: 50px;
	margin-left: 10px;
	margin-right: 10px;
}

#userText li:hover{
	
	color: white;
	cursor: pointer;
}




section{
	display: -moz-box;
	-moz-box-orient: horizontal;
	
	width: 1300px;
	min-width: 1000px;
	min-height: 550px;
	margin-top: 20px;
	
	
}

aside{
	
	display: -moz-box;
	-moz-box-orient: vertical;
	-moz-box-align: center;
	-moz-box-pack: start;
	width: 300px;
	
	-moz-box-flex: 0;
	border-right: 1px inset gray;
	background-image:url(../images/Camera_back.png);
	background-position:bottom;
	background-size:contain;
	background-repeat:no-repeat;
	
}

aside ul{
	display: -moz-box;
	-moz-box-orient: vertical;
	-moz-box-align: center;
	-moz-box-pack: center;
	list-style: none;
	
	width: 230px;
	border-top: 1px outset gray;
	border-bottom: 1px outset gray;
	
	
}

aside ul li{
		display: -moz-box;
	-moz-box-orient: vertical;
	-moz-box-align: center;
	-moz-box-pack: center;
	height: 40px;
	width: 230px;
	
	color: #036;
	font-family: 'Gilda Display', serif;
	
	
}

aside ul li:hover{
	
	color: #B00;
	cursor: pointer;
	background-color:#f0f0f0;
	
	
}

article{
		display: -moz-box;
	-moz-box-orient: vertical;
	-moz-box-align: center;
	-moz-box-flex: 1;
	
	
	}


footer{
	display: -moz-box;
	-moz-box-orient: horizontal;
	-moz-box-align: center;
	
   
	height: 40px;
	width: 1300px;
	min-width: 1000px;
	font-family: 'Gilda Display', serif;
	
	background-color: #ededed;
	border-top: 1px solid gray;
	
}

#leftFooter{
	min-width: 600px;
	max-width: 800px;
	color: #800;
	
}

#leftFooter ul{
	
		display: -moz-box;
	-moz-box-orient: horizontal;
	width: 600px;
	
}

#leftFooter ul li{
	
	display: -moz-box;
	-moz-box-flex: 1;
	-moz-box-pack: center;
	cursor: pointer;
	
}

#leftFooter ul li:hover{
	
	text-decoration: underline;
	
}

#rightFooter{
	
	display: -moz-box;
	-moz-box-pack: end;
	-moz-box-flex: 1;
	color: #006;
	
	
}

footer p{
	
	margin-right: 10px;
	font-family: 'Gilda Display', serif;
}

#spanFooter{
	
	color: #700;
}

#logoTemple{
	cursor: pointer;
	
}

#loginBox{
	
	position: absolute;
	top: 45px;
	right: 0px;
	width: 320px;
	height: 0px;
	background-image:url(../images/header.png);
	border-bottom-left-radius: 20px;
	border-bottom-right-radius: 20px;
	transition: height ease-in-out 1s; 
	box-shadow: 2px 2px 2px rgba(0,0,0,0.5);
	
	
	
	
}

#contaLogin{
	display: -moz-box;
	-moz-box-orient: horizontal;
	-moz-box-align: center;
	-moz-box-pack: center;
	width: 310px;
	margin-top: 5px;
	margin-left: 5px;
	
}
#contaLogin div input{
	text-align: center;
}

#secondDivLogin{
 margin-left: 3px;	
}

#formLogin{
	display: none;
	
}

#loginBox input{
	
font-family: 'Gilda Display', serif;
font-size: 12px;
border-bottom-left-radius: 5px;
border-bottom-right-radius: 5px;

	
}
#loginBox button{
	position:absolute;
	width: 0px;
	height: 0px;
}

#buttonLogin{
	visibility:hidden;
	
}

.activeLink{
	color: #A00;
}


#containerUpdate{
	display: -moz-box;
	-moz-box-align: start;
	-moz-box-pack: center;
	border: 1px inset #f0f0f0;
	width: 80%;
	min-height: 400px;
}

.updateformLines{
	display: -moz-box;
	-moz-box-align: center;
	-moz-box-pack: center;
	margin-top: 10px;
	border: 1px solid red;
	height: 50px;
	width: 500px;
}

.updateformLines input{
	width: 200px;
	color: #009;
}
.updateformLines button{
	width: 160px;
	font-size:14px;
	color: #800;
	margin-left: 50px;
	box-shadow: 2px 2px 2px rgba(0,0,0,0.5);
}



#videoCapture{
	position:absolute;
	left: 20px;
	top: 140px;
	width: 240px;
	height: 180px;
	-moz-box-shadow: 3px 3px 3px rgba(0,0,0,0.5);
	box-shadow: 2px 2px 2px rgba(0,0,0,0.5);
}

#picBtn{
	width: 100px;
	padding: 5px;
}


#line1Register{
	display: -moz-box;
	-moz-box-orient: horizonal;
	-moz-box-pack: center;
	width: 100%;
	margin-top: 30px;
	
	
}

#leftLineRegister{
	margin-left: 20px;
	
	width: 100px;
	height: 150px;
}

#rightLineRegister{

	margin-left: 10px;
	
}

#containerFormRegister{
		display: -moz-box;
	-moz-box-orient: vertical;
	-moz-box-pack: center;
}

#videoCanvas{
	position:absolute;
	border: 1px inset #e7e7e7; 
	width: 110px;
	height: 150px;
}

#titleArticle{
	font: 20px Tahoma, Helvetica, Arial, Sans-Serif;
text-align: center;
color: #222;
text-shadow: 0px 2px 3px #555;
	
}
.lineForm{
	display: -moz-box;
	-moz-box-orient: horizontal;
	margin-top: 10px;
	margin-bottom: 10px;
}

.labelForm{
	display: -moz-box;
	-moz-box-align: center;
	width: 100px;
	margin-left: 10px;
	font-size:14px;
	font-family:Verdana, Geneva, sans-serif;
}

.inputForm input{
	width: 200px;
	text-align:center;
	font-size: 14px;
	color: #800;
}

.inputFormEmail input{
	width: 516px;
	text-align:center;
	font-size: 14px;
	color: #800;
}

#lineButton{
	display: -moz-box;
	-moz-box-pack: center;
	width: 630px;
}
.lineForm button{
	width: 300px;
	padding: 5px;
}
